.App {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem;
}
section{
  display: flex;
  margin-top: 0.5rem;
  padding: 0;
  /* padding: 0 2rem; */
}
