.App {
  background-color: #F4F4F4;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
nav{
  display: flex;
  flex: 1;
  margin: 0px;
  background-color: #FFFFFF;
  height: 80px;
  width: 100%;

}
section{
  display: flex;
  margin-top: 0.5rem;
  padding: 0 2rem;
}
